<h1> This is Customer Home Page</h1>

@model IEnumerable<Book>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <p>@item.NameBook</p>
                <p>@item.Price</p>
                <p>@item.InformationBook</p>
             <a asp-action="AddItemToOrder" asp-controller="Customer" asp-route-id="@item.Id" class="btn btn-primary">Add to Order</a>   
            </div>
        }
    </div>
</div>

